PAYROLL_RUNTIME_DIR=/opt/gaoq-payroll-runtime
PAYROLL_MONGO_IMAGE=mongo:7.0@sha256:35a5926f71f8b6cb19206bee928c5a85f241a8be99f20c81abe35ae78a73415d
PAYROLL_REDIS_IMAGE=redis:7.2-alpine@sha256:05a97a479bc73de66f087dc05b569010772880f778cc8671fa6b8aadee32e5c6
PAYROLL_API_IMAGE=gaoq-payroll/api:replace-with-immutable-release
PAYROLL_WORKER_IMAGE=gaoq-payroll/worker:replace-with-immutable-release
PAYROLL_WEB_IMAGE=gaoq-payroll/web:replace-with-immutable-release
PAYROLL_API_PORT=3211
PAYROLL_WEB_PORT=3210
