GAOQ_AUTHORIZATION_ENDPOINT=https://aio.gaoq.com/api/auth/oauth/authorize
GAOQ_TOKEN_ENDPOINT=https://aio.gaoq.com/api/auth/oauth/token
GAOQ_PAYROLL_CLIENT_ID=
GAOQ_PAYROLL_REDIRECT_URI=https://aio.gaoq.com/payroll/api/auth/callback
AUTH_RESOURCE=https://aio.gaoq.com/api/payroll/v1
GAOQ_PAYROLL_SCOPES=erp:payroll:payslip:self
